{% extends 'accounts/base_accounts.html' %}


{% block title %}
	Log In - {{ block.super }}
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-body">
			<h1 class="text-center bree-serif">Log In</h1>
			<form method="POST" novalidate>
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}">
				{% include 'includes/form.html' %}
				<div class="text-center bree-serif">
					<button type="submit" class="btn btn-primary">Log In</button>
				</div>
			</form>
		</div>
		<div class="card-footer text-muted text-center">
			New to <span class="bree-serif">DiscussIT</span>? <a href="{% url 'signup' %}">Sign Up</a>
		</div>
	</div>
	<div class="text-center py-2" id="after-card">
		<small>
			<a href="{% url 'password_reset' %}" class="text-muted">Forgot password?</a>
		</small>
	</div>
{% endblock %}