{% extends 'accounts/base_accounts.html' %}


{% block title %}
	{% if validlink %}
		Change password for {{ form.user.username }}
	{% else %}
		Reset Password - {{ block.super }}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-body">

			{% if validlink %}

				<h3 class="card-title text-center bree-serif">Change password for @{{ form.user.username }}</h3>
				<form method="POST" novalidate>
					{% csrf_token %}
					{% include 'includes/form.html' %}
					<div class="text-center">
						<button type="submit" class="btn btn-success bree-serif">Change password</button>
					</div>
				</form>

			{% else %}

				<h3 class="card-title text-center bree-serif">Reset Your Password</h3>
				<div class="alert alert-danger", role="alert">
					It looks like you clicked on an invalid password reset link. Please try again.
				</div>
				<div class="text-center">
					<a href="{% url 'password_reset' %}" class="btn btn-secondary bree-serif">Request new password reset link</a>
				</div>

			{% endif %}

		</div>
	</div>
{% endblock %}