{% extends 'accounts/base_accounts.html' %}


{% block title %}
	Reset Password - {{ block.super }}
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-body">
			<h3 class="card-title text-center bree-serif">Reset Your Password</h3>
			<p>Enter your email address and we will send you a link to reset your password.</p>
			<form method="POST" novalidate>
				{% csrf_token %}
				{% include 'includes/form.html' %}
				<div class="text-center">
					<button type="submit" class="btn btn-primary bree-serif">Send email</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}