{% extends 'accounts/base_accounts.html' %}


{% block title %}
		Password Changed! - {{ block.super }}
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-body">
			<h3 class="card-title text-center bree-serif">Password Changed!</h3>
			<div class="alert alert-success" role="alert">
				You have successfully changed your password! You may now proceed to log in.
			</div>
			<div class="text-center">
				<a href="{% url 'login' %}" class="btn btn-primary bree-serif">Return to Log In</a>
			</div>
		</div>
	</div>
{% endblock %}