{% extends 'base.html' %}

{% load static %}

{% block title %}
	Change Password - {{ block.super }}
{% endblock %}

{% block styles %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/boards/boards.css' %}">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-light mb-0">
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'user_info' user.id %}">My Account</a></li>
					<li class="breadcrumb-item active" aria-current="page">Change Password</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h1 class="display-4 bree-serif font-weight-bold float-left">Change Password</h1>
		</div>
	</div>
	<form method="POST" novalidate>
		{% csrf_token %}
		{% include 'includes/form.html' %}
		<div class="text-center">
			<button type="submit" class="btn btn-success bree-serif">Change Password</button>
			<a href="{% url 'user_info' user.id %}" class="btn btn-outline-secondary bree-serif" role="button">Cancel</a>
		</div>
	</form>
{% endblock %}