{% extends 'base.html' %}

{% load static %}

{% block title %}
	Change Password - {{ block.super }}
{% endblock %}

{% block styles %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/boards/boards.css' %}">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-light mb-0">
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'user_info' request.user.id %}">My Account</a></li>
					<li class="breadcrumb-item"><a href="{% url 'password_change' %}">Change Password</a></li>
					<li class="breadcrumb-item active" aria-current="page">Success</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="alert alert-success" role="alert">
		<strong>Success!</strong> Your password has been changed!
	</div>
	<div class="text-center">
		<a href="{% url 'home' %}" class="btn btn-secondary bree-serif" role="button">Return to Home page</a>
	</div>
{% endblock %}