{% extends 'accounts/base_accounts.html' %}


{% block title %}
	Reset Password - {{ block.super }}
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-body">
			<h3 class="card-title text-center bree-serif">Reset Your Password</h3>
			<p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
			<div class="text-center">
				<a href="{% url 'login' %}" class="btn btn-secondary bree-serif">Return to Log In</a>
			</div>
		</div>
	</div>
{% endblock %}